* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar{
  width: 100%;
  padding: 7px;
}

.homeContent{
  width: 100%;
  height: 85vh;
  padding: 7px;
  margin: auto;
  display: flex;
}
.homeContent img{
  width: 55%;
  height:95%;
  border-radius: 2%;
}
.homeContent img:hover {
  transform: translateY(-10px);
  z-index: 10;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer p{
  margin: 0 10px;
}
